html,
body {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  height: 100%;
  font-size: 28px;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

.content {
  flex: 1; /* 高度自适应 */
  display: flex;
}

.nav{
  /*background-color: #eb6f43;*/
  flex: 0 1 35%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-image: url(https://ftp.bmp.ovh/imgs/2019/10/440cf6e7d2fb738e.jpg); */
  /* filter: blur(8px); */
}


.author_info{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  width: 70%;
  height: 100%;
  background-color: black;
}

.author_info_avatar{
  margin-top: 50px;
  width: 100%;
  height: 80px;
  background-color: red;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.author_info_avatar img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.author_info_name{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: turquoise;
}

.author_info_name p{
  font-size: 20px;
  font: bolder;
}

.author_info_des{
  width: 100%;
  background-color: yellowgreen;
}

.author_info_des p{
  color: white;
  font-size: 20px;
  font: italic;
}

.social_site{
  width: 100%;
  background-color: violet;
  height: 70px;  /*还没有内容撑起来，所以先写这么一句*/
  display: flex;
  flex-direction: row;
}

.left{
  flex: 0 1 50%;
  background-color: tomato;
  height: 300px;
}

.right{
  flex: 1;
  height: 300px;
  background-color: yellow;
}

.left_site_github,
.right_site_github,
.left_site_blog,
.right_site_search,
.left_site_about
{
  width: 100%;
  height: 50px;
  background-color: thistle;
  display: flex;
  /* flex-direction: row; */
  /* justify-content: center; */
  align-items: center;
}

.left_site_github img,
.right_site_github img,
.left_site_blog img,
.right_site_search img,
.left_site_about img
{
  width: 25px;
  height: 25px;
  margin-right: 8px;
  margin-left: 40px;
}

.left_site_github a,
.right_site_github a,
.left_site_blog a,
.right_site_search a,
.left_site_about a
{
  font-size: 18px;
  color: white;
  text-decoration: none;
}


main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* 宽度自适应 */
  background-color: #d6d6d6;
}



