html,
body  {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
  backdrop-filter:blur(3px);
  background-attachment: fixed;
  overflow: hidden;
}

.content  {
  flex: 1;
  height: 100%;
  width: 100%;
  position: relative;
  transform: none;
  display: flex;
  justify-content: start;
}

.nav {
  height: 100%;
  width: 25%;

  display: flex;
  justify-content: center;
  align-items: center;
}


.author-info {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  align-items: center;
}

.author-info-avatar {
  margin-top: 4rem;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.author-info-avatar img {
  width: 4.3rem;
  height: 4.3rem;
  border-radius: 50%;
  object-fit: cover;
}

.author-info-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.author-info-name p {
  font-size: 1.25rem;
  font: bolder;
  color: white;
}

.author-info-desc {
  width: 100%;
  text-align: center;
}

.author-info-desc p {
  color:white;
  font-size: 1rem;
  font: italic;
}

.social-site {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 2.5rem;
  justify-content:center;
}

.left {
  flex: 0 1 50%;
  height: 18.75rem;
}

.right {
  flex: 1;
  height: 18.75rem;
}

.left div,
.right div
 {
  width: 100%;
  height: 3.125rem;
  display: flex;
  align-items: center;
}

.social-site img
 {
  width: 1.56rem;
  height: 1.56rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.social-site a,
.social-site button
 {
  font-size: 0.8rem;
  color: white;
  text-decoration: none;
  border: none;
  outline: none;
  background: none;
  text-align: start;
  padding: 0;
}

main {
  width: 75%;
  display: flex;
  height: 100%;
  left: 30%;
  overflow: scroll;

  flex-direction: column;
  background-color: white;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 2rem;
  align-items: center;
}

.main-contain {
  width: 60%;
}

.top-article {
  width: 100%;
  background-color: white;
  padding-bottom: 1.25rem;
  border-bottom: solid #D0D0D0 1px;
}

.top-article article {
  padding-bottom: 1.25rem;
}

article p {
  font-size: 1rem;
  line-height: 1.5rem;
}

article a {
  font-size: 1rem;
  text-decoration: none;
  color: #1296db;
  margin-bottom: 1.25rem;
}

.top-article img{
  height: 11.25rem;
  overflow: hidden;
  width: 100%;
  margin: auto;
  object-fit: cover;

}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-top: 1.25rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  padding-bottom: 1.25rem;
  border-bottom: solid #D0D0D0 1px;
}

li img {
  width: 10rem;
  height: 8rem;
  object-fit: contain;
  margin: 0 0.625rem auto 0; 
  border: 1px solid #ddd;
}

article h1 {
  font-weight: bold;
  margin: 0;
}

article h2 {
  color: grey;
  font-size: 0.8rem;
  margin-top: 0;
}

.post-info {
  flex: 1;
}

#about-control {
  position: absolute;
  left: 36.8%;
  top: -470px;
  background-color: white;
  height: 430px;
  width: 380px;
}

.about-info-card {
  position: absolute;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  height:100% ;
  width: 100%;

  border-radius: 5px;
  box-shadow: 0 0 5px grey;
}

.about-author-info-avatar {
  margin-top: 8%;
  margin-bottom: 0;
  display: flex;
  justify-content: center; 

  width: 100%;
  height: 100px;
}

.about-author-info-avatar img {
  width: 100px;
  height: 100px;

  border-radius: 50%;
  object-fit: cover;
}

.about-author-info-name {
  font-weight: bold;
  flex: 0 0 10%;
}

.about-author-info-des {
  padding: 0 3%;
  margin: 5% auto;
  text-align: center;

  color: grey;  
}

.about-author-info-joblocation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;

  width: 80%;
}

.job,
.location {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 50px;
  width: 100%;
}

.job {
  flex: 0 1 50%;
}

.location {
  flex: 1;
}

.job img,
.location img {
  width: 25px;
  height: 25px;
}

.job p,
.location p {
  margin: auto;

  font-size: 10px;

  color: grey;
}

#about-close {
  position: absolute;
  border: none;
  width: 2rem;
  height: 2rem;

  top: 0.5rem;
  right: 0.5rem;
  outline: none;
}

#about-close img{
  width: 1rem;
  height: 1rem;
}

@media screen and (max-width:900px){
  .nav {
    width: 4rem;
    height: 100%;
    top: 0;
    left: 0;
  }

  main {
    flex: 1;
  }

  .author-info {
    height: 100%;
    width: 100%;
  }

  .social-site {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .author-info-name,
  .author-info-desc,
  .social-site a,
  .social-site button {
    display: none;
  }

  .author-info-avatar img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
  }
}
