html,
body {
  display: flex;
  flex-direction: column;
  /* min-height: 1200px; */
  height: 100%;
  font-size: 28px;
  /* font-weight: bolder; */
  margin: 0;
  padding: 0;
  backdrop-filter:blur(3px);
}

.content {
  flex: 1; /* 高度自适应 */
  display: flex;
}

.nav{
  /*background-color: #eb6f43;*/
  flex: 0 1 25%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-image: url(https://ftp.bmp.ovh/imgs/2019/10/440cf6e7d2fb738e.jpg); */
  /* filter: blur(8px); */
}


.author_info{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  width: 70%;
  height: 100%;
  /*background-color: black;*/
}

.author_info_avatar{
  margin-top: 60px;
  width: 100%;
  height: 80px;
  /*background-color: red;*/
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.author_info_avatar img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.author_info_name{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /*background-color: turquoise;*/
}

.author_info_name p{
  font-size: 20px;
  font: bolder;
  color: white;
}

.author_info_des{
  width: 100%;
  text-align: center;
  /*background-color: yellowgreen;*/
}

.author_info_des p{
  color:white;
  font-size: 15px;
  font: italic;

}

.social_site{
  width: 100%;
  /*background-color: violet;*/
  height: 70px;  /*还没有内容撑起来，所以先写这么一句*/
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.left{
  flex: 0 1 50%;
  /*background-color: tomato;*/
  height: 300px;
}

.right{
  flex: 1;
  height: 300px;
  /*background-color: yellow;*/
}

.left_site_github,
.right_site_github,
.left_site_blog,
.right_site_search,
.left_site_about,
.left_site_code,
.right_site_home
{
  width: 100%;
  height: 50px;
  /*background-color: thistle;*/
  display: flex;
  /* flex-direction: row; */
  /* justify-content: center; */
  align-items: center;
}

.left_site_github img,
.right_site_github img,
.left_site_blog img,
.right_site_search img,
.left_site_about img,
.left_site_code img,
.right_site_home img
{
  width: 25px;
  height: 25px;
  margin-right: 8px;
  margin-left: 8px;
}

.left_site_github a,
.right_site_github a,
.left_site_blog a,
.right_site_search a,
.left_site_about a,
.left_site_code a,
.right_site_home a
{
  font-size: 13px;
  color: white;
  text-decoration: none;
}


main {
  display: flex;
  flex: 1; /* 宽度自适应 */
  flex-direction: column;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  /* justify-content: center; */
  align-items: center;
}

.main_contain{
  width: 60%;
  /* background-color: black; */
}

.latest_commit{
  width: 100%;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  /* height: 70px;暂时先这么写，因为没有内容撑起来 */
}

.article_info{
  width: 100%;
  /* background-color: black; */
  /* margin-top: 20px; */
}

.article_info p{
  margin: 0;
  padding: 0;
}

.article_caption{
  /* background-color: antiquewhite; */
}

.article_caption p{
  font-size: 25px;
  font: bold;
  margin-top: 20px;
  font-weight: bold;
}

.article_date{
  /* background-color: blue; */
}

.article_date p{
  font-size: 10px;
  color: #d6d6d6;
  padding-bottom: 20px;
}

.article_comments{
  /* background-color: brown; */
}

.article_comments p{
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.article_details{
  /* background-color: blueviolet; */
  margin-bottom: 20px;
}

.article_details a{
  font-size: 12px;
  text-decoration: none;
  color: #1296db;
}

.article_img{
  display: flex;
  background-color: white;
  height: 180px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.article_img img{
  max-width: 100%;
}

.hr{
  width: 100%;
  margin-left: 10px;
  /* background-color: black; */
  height: 20px;
  border-bottom: 1px solid #cdcdcd;
}

.commits{
  display: ;
  margin-top: 20px;
  width: 100%;
  height: 200px;
  /* background-color: black; */
}

.commits img{
  width: 90px;
  margin-left: 10px;
}

.commits_1{
  display: flex;
  flex-direction: row;
}

.commits_articles_info{
  flex: 1;
  /* width: 20px; */
  height: 20px;
  background-color: blue;
}