<!DOCTYPE html>
<html>
  <head>
    <title>详情页</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="page.css" />
  </head>
  <body>
    <div class="topbar">
      <div class="topbar-left">
        <img src="../pic/category.png" alt="icon".>
      </div>
      <div class="topbar-text">
        <p>Demo</p>
      </div>
      <div class="topbar-right">
        <img src="../pic/mario.jpg" alt="avatar" />
      </div>
    </div>
    <div class="article-container">
      <div class="article-info">
        <h1>Caption</h1>
        <div class="article-date">
          <p>Nov 22, 2019 in Wuhan</p>
        </div>
        <div class="article-content">
          <p>
            For JavaScript beginner, when doing floating-point operations, often
            encounter such a situation: 0.1 + 0.2 = 0.30000000000000004, which
            is more famous, look at this site you know how famous
            http://0.30000000000000004.com/.In order to avoid such problems in
            the actual production process, we hope to find out what is causing
            this, and how to evade.
          </p>
        </div>
      </div>
      <iframe
        src="https:////player.bilibili.com/player.html?aid=46990802&cid=82305836&page=1"
        scrolling="no"
        border="0"
        frameborder="no"
        framespacing="0"
        allowfullscreen="true"
      >
      </iframe>
    </div>
  </body>
</html>
