<!DOCTYPE html>
<html>
  <head>
    <title>时间轴</title>
    <link rel="stylesheet" type="text/css" href="timeline.css" />
  </head>
  <body>
    <h1>Nov<span> 2019</span></h1>
    <div class="container">
      <div class="timeline-block timeline-block-right">
        <div class="marker"></div>
        <div class="data-date-l">
          <p>Nov 23, 2019</p>
        </div>
        <div class="timeline-content">
          <div class="caption">
            <h3>This is caption</h3>
          </div>
          <p>
            For javascript beginner, when doing floating-point arithmetic, often
            encounter such a situation: `0.1 + 0.2 = 0.30000000000000004`, which
            is more famous, look at this website you will know how famous
            http://0.30000000000000004.com.
          </p>
        </div>
      </div>

      <div class="timeline-block timeline-block-left">
        <div class="marker"></div>
        <div class="data-date-r">
          <p>Nov 22, 2019</p>
        </div>
        <div class="timeline-content">
          <div class="caption">
            <h3>This is caption</h3>
          </div>

          <p>
            For javascript beginner, when doing floating-point arithmetic, often
            encounter such a situation: `0.1 + 0.2 = 0.30000000000000004`, which
            is more famous, look at this website you will know how famous
            http://0.30000000000000004.com.
          </p>
        </div>
      </div>

      <div class="timeline-block timeline-block-right">
        <div class="marker"></div>
        <div class="data-date-l">
          <p>Nov 21, 2019</p>
        </div>
        <div class="timeline-content">
          <div class="caption">
            <h3>This is caption</h3>
          </div>

          <p>
            For javascript beginner, when doing floating-point arithmetic, often
            encounter such a situation: `0.1 + 0.2 = 0.30000000000000004`, which
            is more famous, look at this website you will know how famous
            http://0.30000000000000004.com.
          </p>
        </div>
      </div>

      <div class="timeline-block timeline-block-left">
        <div class="marker"></div>
        <div class="timeline-content">
          <div class="caption">
            <h3>This is caption</h3>
          </div>

          <p>
            For javascript beginner, when doing floating-point arithmetic, often
            encounter such a situation: `0.1 + 0.2 = 0.30000000000000004`, which
            is more famous, look at this website you will know how famous
            http://0.30000000000000004.com.
          </p>
        </div>
      </div>
      <div class="timeline-block timeline-block-right">
        <div class="marker"></div>
        <div class="timeline-content">
          <div class="caption">
            <h3>This is caption</h3>
          </div>

          <p>
            For javascript beginner, when doing floating-point arithmetic, often
            encounter such a situation: `0.1 + 0.2 = 0.30000000000000004`, which
            is more famous, look at this website you will know how famous
            http://0.30000000000000004.com.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
